.navbar {

    padding: 10px 0;
    background-color: #1e94d2;
}

.navbar-toggle {

    color: white;
}

.navbar-menu {
    position: fixed; /* independente de rolar para baixo o menu ficara presente */
    top: 0;
    bottom: 0;
    right: 0;
    width: 210px;
    margin: 0;
    padding: 0;
    z-index: 9998; /* Vai deixar o menu por cima da tabela */

    background-color: #3a3633;
  
    list-style: none;
}

.navbar-usuario {
    padding: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #525151;

    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

.navbar-menu-item {

    padding: 15px;
}

.navbar-menu-item a {
    color: #c0bbb7;
    text-decoration: none;
}

.navbar-menu-item a:hover {
    color: #fff;

}

.navbar-menu-item.ativo { /* .ativo cria uma outra classe dentro da classe */
    background-color: #494541;
    
}

 /* // Estilizando o submenu para relatorios \\ */

.navbar-submenu {
    display: none;
    
}

/* Aqui Vai abrir o submenu ao tocar em menu relatorios
   li descendente de menu ul e a classe navbar-submenu e filho direto(>)
   de li */
ul li:hover > .navbar-submenu {
    display: block;
  
}

.navbar-submenu-item  {
   
   padding: 5px;
   list-style: none;
} 





