/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #404c51
}

label {

    font-weight: bold;
}

a {
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

/*a, button {
    margin-right: .25em;
} */

.ui-dropdown-filter-container {
    width: 100%;
}

@media (min-width: 1200px) {
    .container {

        width: 1170px;
        margin: 0 auto; 
    }

    .table-action thead {
        display: none;
    }
    .table-action tr {
        border-bottom: 1px solid #dddddd;
    }
    .table-action td {
        border: 0;
    }
    .table-action td:not(:first-child) {
        display: block;
    }
    
}

.col-data-header {
    width: 120px;
}

.col-valor-header {
    width: 120px;
}

.col-data-content {
    text-align: center;
}

.col-valor-content {
    text-align: right;
}

.col-acoes {
    width: 90px;
    text-align: center;
}

.col-acoes-header {
    width: 100px;
}

.col-acoes-contato {
    width: 120px;
    text-align: center;
}

.col-acoes-contato-nome {
    width: 200px;
    text-align: center;
}

.col-acoes-contato-email {
    width: 220px;
    text-align: center;
}

/*
   \\ Configuração da tabela no modo responsivo //
*/
.table-action thead {
    display: none;
}

.table-action tr {
    border-bottom: 1px solid #dddddd;
  }

.table-action td {
    border: 0;
}

.table-action td:not(:first-child) {
    display: block;
  }


