<div class="container">
    <form #formPessoa="ngForm" (ngSubmit)="salvar(formPessoa)" >
        <div class="ui-g">
            <div class="ui-g-12">
                <h1>{{ editando ? 'Edição de' : 'Nova' }} Pessoa</h1>

            </div>

            <div class="ui-g-12 ui-fluid">

                <label>Nome</label>
                <input pInputText type="text" [(ngModel)]="pessoa.nome" #nome="ngModel" 
                    name="nome" required minlength="5">
                
                <app-message [control]="nome" error="required"
                    text="Informe um nome">
                </app-message>  
                 <app-message [control]="nome" error="minlength"
                    text="Mínimo de {{ nome.errors?.minlength?.requiredLength }} caracteres">
                </app-message>
            
            </div>

            <div class="ui-g-12 ui-md-9 ui-fluid">

                <label>Logradouro</label>
                <input pInputText type="text" [(ngModel)]="pessoa.endereco.logradouro" #logradouro="ngModel" 
                    name="logradouro" required>
                 <app-message [control]="logradouro" error="required"
                    text="Informe o logradouro">
                </app-message> 
            </div>

            <div class="ui-g-12 ui-md-3 ui-fluid">

                <label>Número</label>
                <input pInputText type="text" [(ngModel)]="pessoa.endereco.numero" #numero="ngModel" 
                    name="numero" required >
                 <app-message [control]="numero" error="required"
                    text="Informe o número">
                </app-message>  
            </div>

            <div class="ui-g-12 ui-md-4 ui-fluid">

                <label>Complemento</label>
                <input pInputText type="text" [(ngModel)]="pessoa.endereco.complemento" name="complemento">
            </div>

            <div class="ui-g-12 ui-md-4 ui-fluid">

                <label>Bairro</label>
                <input pInputText type="text" [(ngModel)]="pessoa.endereco.bairro" #bairro="ngModel"
                    name="bairro" required >
                 <app-message [control]="bairro" error="required"
                    text="Informe o bairro">
                 </app-message>  
            </div> 

            <div class="ui-g-12 ui-md-4 ui-fluid">

                <label>Cep</label>
                <p-inputMask mask="99999-999" [(ngModel)]="pessoa.endereco.cep" #cep="ngModel"
                    name="cep" required></p-inputMask>
                <app-message [control]="cep" error="required"
                    text="Informe o CEP">
                </app-message>  
            </div>

            <div class="ui-g-12 ui-md-6 ui-fluid" >

                <label>Estado</label>
                
                <p-dropdown placeholder="Selecione..." [(ngModel)]="estadoSelecionado" #estado="ngModel" 
                    [autoWidth]="false" [filter]="true" [options]="estados"  
                    name="estadoSelecionado" (onChange)="carregarCidades()" required ></p-dropdown> <!-- onChange ao selecionar o estado vai carregar as cidades desse estado -->
                <app-message [control]="estado" error="required"
                    text="Informe o estado">
                </app-message> 
            </div>  

            <div class="ui-g-12 ui-md-6 ui-fluid" >

                <label>Cidade</label>
                <p-dropdown placeholder="Selecione..." [(ngModel)]="pessoa.endereco.cidade.codigo" #cidade="ngModel" 
                    [autoWidth]="false" [filter]="true" name="cidade" [options]="cidades" required
                    [disabled]="!estadoSelecionado"></p-dropdown> 
                
                <app-message [control]="cidade" error="required"
                    text="Informe a cidade">
                </app-message> 
            </div> 

            <div class="ui-g-12">
                <p-panel header="Contatos">
                   <app-pessoa-cadastro-contato [contatos]="pessoa.contatos" ></app-pessoa-cadastro-contato>

                </p-panel>
            </div>

            <div class="ui-g-12">

                <button pButton [disabled]="!formPessoa" type="submit" label="Salvar"></button>
                <button pButton type="button" label="Novo" (click)="novo(formPessoa)" class="ui-button-info" style="margin-left: 5px;"></button>
                <a routerLink="/pessoas" type="button" style="margin-left: 5px;">Voltar para pesquisa</a>
            </div>
         
        </div>
    
    </form>

</div>

